<nav class="space-y-2">
    <button type="button" (click)="scrollTo('main-contact')"
        [ngClass]="activeSection === 'main-contact' ? 'flex w-full items-center rounded-md border-l-4 border-[#22C55E] bg-[#EAFBF3] px-3 py-2 text-left text-sm font-medium text-[#22C55E]' : 'flex w-full items-center rounded-lg px-3 py-2 text-left text-sm font-medium text-[#667085] hover:bg-gray-50'">
        Main contact
    </button>

    <button type="button" (click)="scrollTo('personal-info')"
        [ngClass]="activeSection === 'personal-info' ? 'flex w-full items-center rounded-md border-l-4 border-[#22C55E] bg-[#EAFBF3] px-3 py-2 text-left text-sm font-medium text-[#22C55E]' : 'flex w-full items-center rounded-lg px-3 py-2 text-left text-sm font-medium text-[#667085] hover:bg-gray-50'">
        Personal information
    </button>

    <button type="button" (click)="scrollTo('address')"
        [ngClass]="activeSection === 'address' ? 'flex w-full items-center rounded-md border-l-4 border-[#22C55E] bg-[#EAFBF3] px-3 py-2 text-left text-sm font-medium text-[#22C55E]' : 'flex w-full items-center rounded-lg px-3 py-2 text-left text-sm font-medium text-[#667085] hover:bg-gray-50'">
        Address
    </button>
</nav>