<div class="grid grid-cols-3 items-center border-t border-[#f1f5f9] px-4 py-3">
    <div class="flex items-center gap-2 text-sm font-medium text-[#172B4D]">
        <span>Items per page</span>

        <p-dropdown [options]="rowsOptions" [(ngModel)]="rows" optionLabel="label" optionValue="value"
            (onChange)="onRowsChange()" styleClass="h-8 w-[100px]">
            <ng-template pTemplate="dropdownicon">
                <i class="pi pi-sort-down-fill text-[10px] text-[#9ca3af]"></i>
            </ng-template>
        </p-dropdown>
    </div>

    <!-- <p-paginator class="hidden" [first]="currentPage * rows" [rows]="rows" [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"></p-paginator> -->

    <div class="flex items-center justify-center gap-1">
        <button type="button" (click)="prevPage()" [disabled]="currentPage === 0"
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-[#334155] hover:bg-slate-50 disabled:opacity-40 disabled:cursor-not-allowed">
            <i class="pi pi-chevron-left text-[10px]"></i>
        </button>

        <ng-container *ngFor="let p of pages">
            <button *ngIf="p !== '...'" type="button" (click)="goToPage(p)" [ngClass]="{
          'bg-[#091E4214] font-bold text-[#172B4D]': currentPage + 1 === p,
          'border border-[#e2e8f0] bg-white text-[#334155]': currentPage + 1 !== p
        }" class="flex h-8 w-8 items-center justify-center rounded text-sm hover:bg-slate-50">
                {{ p }}
            </button>

            <span *ngIf="p === '...'"
                class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-sm text-[#64748b]">
                ...
            </span>
        </ng-container>

        <button type="button" (click)="nextPage()" [disabled]="currentPage === totalPages - 1"
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-[#334155] hover:bg-slate-50 disabled:opacity-40 disabled:cursor-not-allowed">
            <i class="pi pi-chevron-right text-[10px]"></i>
        </button>
    </div>

    <div class="flex items-center justify-end gap-2 text-sm font-medium text-[#19191a]">
        <span>Jump to</span>

        <input type="number" [(ngModel)]="jumpPage" (keyup.enter)="goToPage()"
            class="h-8 w-12 rounded-lg border border-[#e5e7eb] text-center text-sm outline-none" />
    </div>
</div>