.phone-wrapper {
  height: 52px;
  padding-top: 4px;
  padding-bottom: 2px;
  overflow: hidden;
}

:host ::ng-deep .phone-dropdown,
:host ::ng-deep .phone-dropdown .p-dropdown {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  height: 100% !important;
}

:host ::ng-deep .phone-input,
:host ::ng-deep .phone-input input,
:host ::ng-deep .p-inputtext {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: transparent !important;
  padding: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}


:host ::ng-deep .phone-dropdown .p-dropdown-trigger {
  width: 12px !important;
  margin-left: 4px !important;
  display:flex !important;
  align-items:center !important;
}

:host ::ng-deep .phone-dropdown .p-dropdown-trigger-icon {
  font-size: 6px !important;
  color: #758195 !important;
}
:host ::ng-deep .phone-dropdown .p-dropdown-label {
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding-left: 0.1rem !important;
}