<div
  class="mt-4 border rounded-xl px-4 py-3 flex items-center justify-between gap-3"
  [ngClass]="[bannerClass, customClass]"
>
  <div class="flex items-center gap-3 text-3 font-roboto min-w-0">
    <svg-icon
      *ngIf="icon"
      [src]="icon"
      [svgStyle]="{ 'width.px': iconSize, 'height.px': iconSize }"
    ></svg-icon>

    <div class="min-w-0">
      <ng-content select="[banner-content]"></ng-content>

      <span *ngIf="message" class="font-medium">
        {{ message }}
      </span>
    </div>
  </div>

  <div *ngIf="showAction" class="shrink-0">
    <ng-content select="[banner-action]"></ng-content>

    <button
      *ngIf="actionText"
      type="button"
      class="text-3 text-blue-600 font-medium flex items-center gap-1 font-roboto hover:underline"
      (click)="actionClick.emit()"
    >
      {{ actionText }}
      <i *ngIf="showActionIcon" class="pi pi-chevron-right w-3 h-3"></i>
    </button>
  </div>
</div>
